HELP.md
build/
.gradle
gradle
gradle.properties
gradlew
gradlew.bat
!**/src/main/**/build/
!**/src/test/**/build/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/
